<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 전화 걸기 권한 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidstudy"
        tools:targetApi="31">
        <activity
            android:name=".NotificationActivity4"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity3"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity2"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity1"
            android:exported="false" />
        <activity
            android:name=".ObjectSecondActivity"
            android:exported="false" />
        <activity
            android:name=".DataSecondActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity_2"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LinearLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".TableLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".GridLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ConstraintLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".SpaceActivity"
            android:exported="true" />
        <activity
            android:name=".IncludeOtherLayout"
            android:exported="true" />
        <activity
            android:name=".RelativeLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".TextViewActivity"
            android:exported="true" />
        <activity
            android:name=".ButtonViewActivity"
            android:exported="true" />
        <activity
            android:name=".EditTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".TextInputViewActivity"
            android:exported="true" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="true" />
        <activity
            android:name=".ToggleButtonViewActivity"
            android:exported="true" />
        <activity
            android:name=".CheckboxViewActivity"
            android:exported="true" />
        <activity
            android:name=".RadioButtonViewActivity"
            android:exported="true" />
        <activity
            android:name=".SwitchViewActivity"
            android:exported="true" />
        <activity
            android:name=".CheckedTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".ChipViewActivity"
            android:exported="true" />
        <activity
            android:name=".ProgressBarViewActivity"
            android:exported="true" />
        <activity
            android:name=".SeekBarViewActivity"
            android:exported="true" />
        <activity
            android:name=".RatingBarViewActivity"
            android:exported="true" />
        <activity
            android:name=".ScrollViewActivity"
            android:exported="true" />
        <activity
            android:name=".CardViewActivity"
            android:exported="true" />
        <activity
            android:name=".ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".CustomListView1Activity"
            android:exported="true" />
        <activity
            android:name=".CustomListView2Activity"
            android:exported="true" />
        <activity
            android:name=".CustomAdapterViewActivity"
            android:exported="true" />
        <activity
            android:name=".SpinnerViewActivity"
            android:exported="true" />
        <activity
            android:name=".GridViewActivity"
            android:exported="true" />
        <activity
            android:name=".ViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".AutoCompleteTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".MultiAutoCompleteTextViewActivity"
            android:exported="true" />
        <activity
            android:name=".SingleChoiceListViewActivity"
            android:exported="true" />
        <activity
            android:name=".MultiChoiceListViewActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".PermissionActivity"
            android:exported="true" />
        <activity
            android:name=".OptionMenuActivity"
            android:exported="true" />
        <activity
            android:name=".ContextMenuActivity"
            android:exported="true" />
        <activity
            android:name=".PopupMenuActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityLifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".OnActivityResultActivity"
            android:exported="true" />
        <activity
            android:name=".HorseRacingActivity"
            android:exported="true" />
        <activity
            android:name=".DataActivity"
            android:exported="true" />
        <activity
            android:name=".App1Activity"
            android:exported="true" />
        <activity
            android:name=".ActionActivity"
            android:exported="true" />
        <activity
            android:name=".ToastActivity"
            android:exported="true" />
        <activity
            android:name=".SnackBarActivity"
            android:exported="true" />
        <activity
            android:name=".DialogActivity"
            android:exported="true" />
        <activity
            android:name=".ListDialogActivity"
            android:exported="true" />
        <activity
            android:name=".ChoiceDialogActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".PendingIntentActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".StyleNotificationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MessageNotificationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ThreadActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>